# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/src/environments/environment.prod.ts
/src/app/quiz_content/howimetyourmother.xml
/src/app/quiz_content/internetculture.json
/src/app/quiz_content/internetculture.xml
/src/app/quiz_content/namethecountry.json
/src/app/quiz_content/namethecountry.xml
/src/app/quiz_content/namethesoccerplayer.json
/src/app/quiz_content/namethesoccerplayer.xml
/src/app/quiz_content/players.xml
/src/app/quiz_content/riddles.json
/src/app/quiz_content/riddles.xml
/src/app/quiz_content/simpsons.json
/src/app/quiz_content/simpsons.xml
/src/app/quiz_content/soccer.json
/src/app/quiz_content/soccer.xml
/src/app/quiz_content/thefamilyguy.json
/src/app/quiz_content/thefamilyguy.xml
/src/app/quiz_content/thewalkingdead.json
/src/app/quiz_content/thewalkingdead.xml
/src/app/quiz_content/worddefinition.json
/src/app/quiz_content/worddefinition.xml
/src/app/quiz_content/africa.json
/src/app/quiz_content/africa.xml
/src/app/quiz_content/basicmath.json
/src/app/quiz_content/basicmath.xml
/src/app/quiz_content/bible.json
/src/app/quiz_content/bible.xml
/src/app/quiz_content/cars.json
/src/app/quiz_content/cars.xml
/src/app/quiz_content/coffee.json
/src/app/quiz_content/coffee.xml
/src/app/quiz_content/countriesineurope.json
/src/app/quiz_content/countriesineurope.xml
/src/app/quiz_content/finishthemovietitle.json
/src/app/quiz_content/finishthemovietitle.xml
/src/app/quiz_content/gameofthrones.json
/src/app/quiz_content/gameofthrones.xml
/src/app/quiz_content/generalknowledge.json
/src/app/quiz_content/generalknowledge.xml
/src/app/quiz_content/generalmath.json
/src/app/quiz_content/generalmath.xml
/src/app/quiz_content/grammar.json
/src/app/quiz_content/grammar.xml
/src/app/quiz_content/historytrivia.json
/src/app/quiz_content/historytrivia.xml
/src/app/quiz_content/howimetyourmother.json
/public/backup_icons
